*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
releaseKey.jks
app/src/main/res/drawable/shunv3.png
tsi.json
tsi_extract.py
.venv
附錄2、民國112年語料詞頻表.xlsx
app/release/baselineProfiles/*